.Card {
  width: 100%;
  height: 60px;
  background-color: #131921;
  align-items: center;
  display: flex;
  justify-content: center;
}

.Sub_header {
  background-color: #232f3e;
  width: 100%;
  height: 40px;
}

.inputsearch {
  width: 670px;
  height: 38px;
  margin: 10px auto;
  padding: 12px;

}

button {
  color: black;
}

button:active {
  background-color: antiquewhite;
}


/* #007185 */